{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_nation_create') }}">Create Nation</a>
    {% endif %}


    <table>

        <tbody>
        <tr>

            <th>Nation</th>


        </tr>
        {% for nation  in nations %}
            <tr>

                <td>{{ nation.name }} </td>


                {#<td><a href="{{ path("",{'id':team.id}) }}">Show</a></td>#}
                {#<td><a href="{{ path("",{'id':team.id}) }}">Show Players</a></td>#}
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path("admin_nation_edit",{'id':nation.id}) }}">Edit</a></td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}