{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_player_create') }}">Create Player</a>
    {% endif %}

    <div>
        Per Page : <a href="{{ path("player_list",{'perPage':5}) }}">5</a> | <a href="{{ path("player_list",{'perPage':10}) }}">10</a> | <a href="{{ path("player_list",{'perPage':20}) }}">20</a>
    </div>
    <table>

        <tbody>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Country</th>
            <th>Position</th>
            <th>Team</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.firstName }} {{ player.lastName }}</td>
                <td><a href="{{ path("show_nation_players",{'name':player.nation}) }}">{{ player.nation }}</a></td>
                <td><a href="{{ path("show_position_players",{'pos':player.position}) }}">{{ player.position }}</a></td>
                <td>{{ player.team }}</td>
                {#<td><a href="{{ path("",{'id':team.id}) }}">Show</a></td>#}
                {#<td><a href="{{ path("",{'id':team.id}) }}">Show Players</a></td>#}
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path("admin_player_edit",{'id':player.id}) }}">Edit</a></td>
                    <td><a href="{{ path("admin_player_delete",{'id':player.id}) }}">Delete</a></td>
                {% endif %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
           <td colspan="5"><a href="{{ path("player_list",{"page":0}) }}">First Page </a></td>
            {% if currentPage > 0 %}
            <td colspan="5"><a href="{{ path("player_list",{"page":currentPage-1}) }}">Prev </a></td>
            {% endif %}

            {% for i in 0 .. pages %}
                <td colspan="5"><a href="{{ path("player_list",{"page":i}) }}">{{ i+1 }} </a></td>
            {% endfor %}
            {% if currentPage<pages %}
                <td colspan="5"><a href="{{ path("player_list",{"page":currentPage+1}) }}">Next </a></td>
            {% endif %}

            <td colspan="5"><a href="{{ path("player_list",{"page":pages}) }}">Last Page </a></td>
        </tr>
        </tbody>
    </table>

{% endblock %}